.fondo {
    background: url(https://images.pexels.com/photos/5152060/pexels-photo-5152060.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;

}

.botondeinicio {
    margin-top: 10px;
    width: 35px;
    height: 35px;
}

.Box {
    position: relative;
    display: inline-block;
    top: 5rem;
    width: 50rem;
    height: 15rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    margin: auto;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.075);
}

.titleH1 {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 25px;
}